<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List Some Cars</title>
</head>
<body>
<table style="border-collapse: collapse; width: auto;">
  <thead>
  <tr>
    <th style="border: 1px solid black; padding: 8px;">Brand</th>
    <th style="border: 1px solid black; padding: 8px;">Model</th>
    <th style="border: 1px solid black; padding: 8px;">Release Year</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cars : ${someCars}">
    <td style="border: 1px solid black; padding: 8px;" th:text="${cars.getBrand()}"></td>
    <td style="border: 1px solid black; padding: 8px;" th:text="${cars.getModel()}"></td>
    <td style="border: 1px solid black; padding: 8px;" th:text="${cars.getReleaseYear()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>